.app-container{
    width: 100vw;
    height: 100vh;
   overflow-x: hidden;
}


.header-menu>a{
 margin: 5px;
 color: white;

}
.header-mb-menu{
    display: flex;
    flex-direction: column;
   
    
}
.header-mb-menu>a{
    color: black;
}
.drawer-left{
   padding: 3px;
  
  
   
}